@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=JetBrains+Mono:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

pre,
code {
  font-family: "JetBrains Mono", monospace;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

.leaflet-container {
  height: 85vh;
  width: 100%;
}
